@page {
    size: A4 landscape;
    margin: 8px;
}

@media print {
    td {
        resize: none !important;
        overflow: hidden !important;
    }

    td::-webkit-resizer {
        display: none !important;
    }
}

body {
    font-family: "Times New Roman", serif;
    font-size: 9pt;
    margin: 0;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 6px auto 0;
}

th,
td {
    border: 1px solid #000;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    font-size: 9pt;
    white-space: normal;
    min-width: 2px;
    width: auto;
    align-content: center;
    resize: both;
    overflow: auto;
}

td[data-sum] {
    font-weight: 600;
    background-color: #eaeaea;
}

td[data-tree]:not([data-sum]):has(div) {
    padding: 1px 1px 14px;
    position: relative;
}

td[data-tree]>div:first-child {
    position: absolute;
    right: 2px;
    bottom: 1px;
}

.main-wrapper {
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
}

.main-header {
    font-size: 9pt;
    text-align: center;
}

.second-header {
    font-size: 12pt;
    margin-bottom: 14px;
}

.second-side {
    font-size: 12pt;
}

.page-break {
    page-break-before: always;
}

thead .vertical-text {
    writing-mode: sideways-lr;
    font-size: 9pt;
}

.name-input {
    font-size: 10pt;
}

p,
input,
h1 {
    margin: 0;
    font-size: inherit;
}

h1 {
    font-size: 12pt;
}

.squre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* max-width: 252px;
    resize: both;
    overflow: auto; */
    width: auto;
}

tbody .vertical-text {
    color: transparent;
}

.data-input {
    font-size: 12pt;
    margin-top: 6px;
}

.second-side--text {
    font-size: 12pt;
    margin: 6px 0;
}

